body {
  background-color: #FACF7D;
  font-family: Roboto;
}

h1, h2, h3, h4, h5 {
  font-family: Montserrat;
  color: #4A403D;
}

h1 {
  font-size: 100px;
}
h2 {
  font-size: 40px;
}
h6 {
  font-size: 20px;
  font-family: Barlow Semi Condensed;
  color: #4A403D;
}

#main {
  align: center;
}

#left {
  float: left;
  width: 30%;
}

#right {
  float: left;
  width: 60%;
}



/* Materialize Form */
/* label color */
 .input-field label {
   color: #4A403D;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid #4A403D;
   box-shadow: 0 1px 0 0 #4A403D;
 }



/*
#A69A90: Grey
#4A403D: Dark
#FACF7D: Peach
#FFF1C1: Light Tan
#4A403D: Orange
*/
